.elements {
  padding-top: 50px;
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 17px;
  column-gap: 20px;
  min-height: 801.1px;
}

.elements__element {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

.elements-element-button-trash:hover {
  opacity: 50%;
}

.elements-element-button-trash {
  background: transparent url(/images/button__Trash.png) no-repeat;
  background-size: contain;
  width: 18px;
  height: 19.3px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__element-container-card {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding: 25px 15px 31px 21px;
}

.elements__element-image-fix {
  width: 282px;
  height: 282px;
}

.elements__element-image {
  border-radius: 10px 10px 0 0;
}

.elements__element-title {
  max-width: 246px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__element-button-heart:hover {
  opacity: 50%;
}

.elements__element-button-heart {
  background-size: contain;
  width: 21px;
  height: 19px;
  border: none;
}

.elements__element-button-heart-liked {
  display: none;
}

@media screen and (max-width: 1024px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(2, 282px);
    row-gap: 17px;
    column-gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  .elements {
    display: grid;
    grid-template-columns: repeat(1, 282px);
  }
}
